<h1>Welcome to the home page</h1>
<ul>
{{#each forceUsers}}
  <li>
    <a href="/{{id}}">{{name}}</a> 
  {{#if jedi}}
    <h4>jedi</h4>
  {{else}}
  
  {{/if}} 
  
  {{#if sith}}
  <h4>sith</h4>
  {{else}}

  {{/if}}  
  
  {{#if neutral}}
  <h4>neutral</h4>
  {{else}}

  {{/if}}
{{/each}}
</ul>
{{>create}}
